.prefix__section {
  padding: 0px !important;
  .section__white-square {
    box-shadow: 0 5px 30px rgba(0,0,0,.15);
    border-radius: 10px;
    width: 100%;
    padding: 16px;
    background-color: white;
    max-height: 100% !important;
    align-items: center;
    .bbapi-content-top {
      margin-top: -10px !important;
      margin-left: 24px;
    }
    .bb-icon-text {
      padding-bottom: 16px !important;
    }
    .bb-cta {
      padding-top: 16px;
      text-align: center;
    }
    .section-2__content {
      background-image: none;
      box-shadow: none;
      border-radius: none;
      padding-top: 36px;
      .section-2__row-1 {
        margin: auto;
        h2 {
          color: #606468;
        }
      }
      .section-2__row-2 {
        margin: auto;
        .section-2__image {
          margin: auto;
        }
      }
      .bbapi-text-left {
        padding: 36px;
        padding-bottom: 0px;
      }
    }
  }
}


@media (max-width: 1200px) {
  .section__white-square {
    max-height: 100% !important;
    .bb-icon-text {
      padding-top: 16px !important;
    }
    .bbapi-content-top {
      margin-left: 0px !important;
      .cfd-png {
        margin: auto !important;
      }
      .content--wrapper {
        h2 {
          text-align: center !important;
        }
        p {
          text-align: left;
          padding-left: 8px;
        }
      }
    }
    .section-2__content {
      height: auto !important;
      margin: auto !important;
      width: 96% !important;
      .section-2__row-1 {
        margin: auto !important;
        h2 {
          padding-top: 42px !important;
        }
        p {
          text-align: left !important;
          padding-bottom: 24px !important;
        }
      }
      .section-2__row-2 {
        .section-2__image {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }
}
