.prefix__section {
  padding: 56px 0px!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	.section-5__content {
	  max-width: 1040px;
	  width: 100%;
	  .main-title {
	    font-size: 30px;
	    font-weight: 700;
	    margin-bottom: 30px;
	    color: #303336;
	  }
	  .button {
	    padding-left: 130px;
	    padding-right: 130px;
	    font-size: 22px;
	  }
	}

	.section-5__images {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  align-items: center;
		margin-bottom: 120px;
		@media (max-width: 1045px) {
			display: flex;
			flex-direction: column;
			width: 50%;
			margin: auto;
		}
	}

	.section-5__image {
	  width: 100%;
		height: 100%;
		@media (max-width: 1045px) {
			padding: 16px 0px !important;
		}

	  &:first-child {
	    max-width: 228px;
	    max-height: 131px;
	  }

	  &:nth-child(2) {
	    max-width: 171px;
	    max-height: 132px;
	  }

	  &:nth-child(3) {
	    max-width: 205px;
	    max-height: 127px;
	  }

	  &:nth-child(4) {
	    max-width: 194px;
	    max-height: 194px;
	  }

	  &:nth-child(5) {
	    max-width: 250px;
	    max-height: 250px;
	  }
	}
	.partners-button {
		@media (max-width: 800px) {
			padding-top: 24px;
		}
		.button__partners {
			padding: 10px 50px;
			border-radius: 5px;
			transition: 0.1s;
			outline: none;
			cursor: pointer;
			font-size: 22px;
			background: linear-gradient(to bottom, #10dc87 0%, #08ba4d 100%);
			color: #fff;
			border: 1px solid #08BA4D;
			font-weight: 400 !important;
			@media (max-width: 800px) {
				font-size: 17px;
				padding: 8px;
			}
			&:hover {
				opacity: 0.8;
				color: #fff;
			}
		}
	}
}

@media (max-width: 800px) {
	.prefix__section {
		.section-5__images {
			display: flex;
			flex-direction: column;
			width: 50%;
			margin: auto;
		}
		.section-5__image {
			padding: 16px 0px !important;
		}
		.partners-button {
			padding-top: 24px;
			.button {
				font-size: 17px;
				padding: 8px;
			}
		}
	}
}