.co2ok-section {
	padding: 24px 0px !important;
	.main-section-title {
		padding-bottom: 16px !important;
	}
}

/*Text Section*/
.section-text-wrapper {
	width: 100%;
	margin: auto;
	text-align: left;
	.section-main-title {
		text-align: left;
		padding-bottom: 24px;
	}
}