.co2ok_widget_infobox_container {
	position: absolute;
	width: 330px;
	height: 280px;
	background: #f7f7f7;
	border-radius: 15px;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	font-size: 0.9em;
	z-index: 999999;
	display: none;
	padding: 10px;
	border: 4px solid #E3E3E3;
	cursor: default;
	/* border: 4px solid #28db83; */
	border-image-slice: 1; }

.hovercard-wrapper {
	display: flex;
	flex-direction: row; }

.steps {
	color: black;
	font-size: 14px;
	text-decoration: none; }

.info_hover_png {
	margin: auto;
	z-index: 1; }

.hovercard_road {
	position: relative;
	width: 70%;
	height: 30%; }

.info_hover_road_png {
	position: absolute;
	width: 73%;
	height: 58%;
	margin: auto;
	left: 48px; }

.top {
	top: 52px; }

.left {
	width: 52%;
	margin-top: 12px;
	margin-left: 15px; }

.right {
	margin-top: 16px;
	margin-left: 158px; }

.png_right {
	position: absolute;
	width: 30%;
	right: 22px;
	top: 13px; }

.png_left {
	position: absolute;
	width: 41%;
	left: 16px;
	bottom: 49px; }

.widget-hovercard-links {
	text-align: center;
	display: flex !important;
	padding-top: 16px;
	margin-top: 0px; }

.logo-hovercard {
	width: 16%;
	position: absolute;
	margin-top: 15px; }

.compensation {
	margin: auto;
	text-decoration: none !important;
	color: black;
	border: 2px solid #d9d7d7;
	background: white;
	border-radius: 5px;
	text-align: center;
	width: 67%;
	padding: 6px; }

.widget-hover-card {
	padding: 16px 0px;
}

.branch-png {
	width: 33%;
	position: absolute;
	right: -7px;
	bottom: -7px;
	transform: rotate(-51deg);
	z-index: -1; }