/* Pockies */
.co2ok_widget_infobox_container {
  position: absolute;
  width: 350px;
  max-width: 350px;
  height: 700px;
  max-height: 700px;
  z-index: 99999999999;
}

.co2ok_widget_infobox_container .co2ok-widget-content .right-align-img {
  margin-top: 32px;
}
.co2ok_widget_infobox_container .co2ok-widget-content .co2ok-header-one {
  height: 120px;
}
.co2ok_widget_infobox_container .co2ok-widget-content .co2ok-header-two {
  height: 98px;
}
.co2ok_widget_infobox_container .co2ok-widget-content .co2ok-header-three {
  height: 126px;
}
.co2ok_widget_infobox_container .co2ok-widget-content .co2ok-widget-wrapper .co2ok-tree {
    margin-top: 36px;
}

.co2-usp-img {
  font-size:42px;
  width: 44px;
  margin: 0 15px 0 0;
}

.co2-product-usp-img {
  height: 20px;
  float: left;
  padding-right: 8px;
}

.co2-truck-product-usp {
  height: 17px !important;
  margin-bottom: -2px;
}

.co2-box-product-usp {
  height: 22px !important;
  margin-bottom: -1px;
}

.co2-widget-company-logo {
  width: 30%;
  z-index: 4;
  position: absolute;
  margin-top: 4px;
  margin-left: 8px;
}

.co2ok_widget_infobox_container .co2-compensation-projects .co2-project-img-text {
  font-size: 10.5px;
  margin-bottom: 12px !important;
  padding-bottom: 0px; }

  .co2ok_widget_infobox_container .co2ok-logos .feat-company-logo {
    bottom: 4px;
  }

  #info-button-widget {
    margin-top: 99px;
  }

/*button&logo at bottom*/
.usp-button-hovercard-links {
  width: 100%;
  text-align: center;
  margin-top: -6px;
  padding-top: 16px;
  display: flex; }
.usp-logo-hovercard {
  position: absolute;
  margin-top: 5px;
  width: 15%;
  left: 32px; }
.usp-co2ok-hovercard-button {
  margin: auto !important;
  text-decoration: none !important;
  color: black !important;
  border: 2px solid #D9D7D7 !important;
  font-family: Roboto, sans-serif !important;
  background: white;
  border-radius: 5px !important;
  text-align: center !important;
  width: 42%;
  display: block;
  padding: 3px !important;
  font-style: italic !important;
  font-size: 13px !important;
  font-weight: normal !important; }
.usp-co2ok-hovercard-button:hover {
  color: black !important;
  opacity: 1 !important;
  font-weight: normal !important;
  text-decoration: none !important;
}
.usp-branch-png {
  width: 26%;
  position: absolute;
  right: 52px;
  bottom: -7px;
  transform: rotate(-56deg);
  z-index: -1; }


  @media (max-width: 1133px) {
    .co2ok-usp-img {
      margin: -36px 15px 0 0;
    }
  }

  @media (max-width: 500px) {
    .co2ok_widget_infobox_container {
      left: 0 !important;
      top: 0 !important;
      position: fixed !important;
      max-width: none;
      max-height: none;
      bottom: 0 !important;
      width:100% !important;
      height: 100% !important;
      overflow-y: auto !important;
      -webkit-overflow-scrolling: touch !important;
      overflow-x: hidden; }
    .co2ok_widget_infobox_container .co2ok-widget-content .co2ok-header-two {
      height: 84px;
    }
    .co2ok_widget_infobox_container .co2ok-widget-content .co2ok-logo {
      bottom: -6px !important;
    }
    .co2ok_widget_infobox_container .co2ok-widget-content .co2ok-widget-wrapper .left-align-img {
      margin-top: -76px;
    }
    .usp-branch-png {
      width: 51%;
      right: -57px;
      position: absolute;
      bottom: -21px;
    }
    .usp-logo-hovercard {
      left: 16px;
      position: absolute;
      bottom: 0px;
    }
    .usp-button-hovercard-links {
      margin-top: 8px;
    }
    .usp-co2ok-hovercard-button {
      position: absolute;
      bottom: 0px;
      width: 36%;
      left: 30%;
    }
  }

  @media(max-width: 450px) {
    .co2ok_widget_infobox_container .co2ok-widget-content .co2ok-header-one {
      height: 132px;
    }
    .co2ok_widget_infobox_container .co2ok-widget-content .co2ok-header-three {
      height: 106px;
    }
    .co2ok_widget_infobox_container .co2ok-widget-content .co2ok-widget-wrapper .co2ok-tree {
      margin-top: 24px;
    }
    .usp-branch-png {
      width: 58%;
      right: -53px;
      bottom: -19px;
    }
  }

  @media (max-width: 375px) {
    .co2ok_widget_infobox_container .co2-compensation-projects .co2-project-img-text {
      margin-bottom: 0px !important;
    }
    .co2ok_widget_infobox_container .co2ok-widget-content .co2ok-header-one {
      padding-top: 0px !important;
      margin-bottom: 8px;
    }
    .co2ok_widget_infobox_container .co2ok-widget-content .co2ok-header-two {
      height: 84px;
    }
    .co2ok_widget_infobox_container .co2ok-widget-content .co2ok-header-three {
      height: 115px;
    }
    .co2ok_widget_infobox_container .co2ok-widget-content .co2ok-widget-wrapper .sub-header {
      margin-top: 0px;
    }
    .usp-branch-png {
      right: -56px;
      bottom: -20px;
      width: 70%;
    }
  }

  @media (max-width: 350px) {
    .usp-branch-png {
      right: -41px;
      bottom: -11px;
    }
    .co2ok_widget_infobox_container .co2ok-widget-content .co2ok-header-one {
      height: auto;
    }
    .co2ok_widget_infobox_container .co2ok-widget-content .co2ok-header-two {
      height: auto;
    }
    .co2ok_widget_infobox_container .co2ok-widget-content .co2ok-header-three {
      height: auto;
    }
  }

  @media (max-height: 730px) {
    .usp-co2ok-hovercard-button {
      bottom: auto !important;
    }
    .usp-logo-hovercard {
      bottom: auto !important;
    }
  }
