/* Vela */
.co2ok-usp-product {
  width: 70px;
  margin-top: 8px;
}

/* cfs */
.cfs_hover_target_footer {
	width: 130px;
	height: 65px;
	margin-left: 20px;
	margin-top: -15px;
}


/* hovercard  */
.default-co2ok-hovercard-button {
	margin-top: -15px!important;
}

.default-logo-hovercard {
	margin-top: -30px!important;
}

.btn_shop_co2ok {
	margin-right: 40px;
}