.co2ok_widget_infobox_container {
	position: absolute;
	width: 330px;
	height: 280px;
	background: white;
	border-radius: 15px;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	font-size: 0.9em;
	z-index: 999999;
	display: none;
	padding: 10px;
	border: 4px solid #E3E3E3;
	cursor: default;
	box-shadow: 5px 5px 10px #a0a0a0;
	/* border: 4px solid #28db83; */
	border-image-slice: 1;
	line-height: 1.25rem; }
	.co2ok_widget_infobox_container.ShowWidgetInfoBox {
		display: block;
		opacity: 1; }

.hovercard-wrapper {
	display: flex;
	flex-direction: row; }

.widget-steps {
	color: black;
	font-size: 14px;
	text-decoration: none; }

.widget-info-hover-png {
	margin: auto;
	z-index: 1; }

.widget-left {
	width: 52%;
	margin: auto;
	padding-top: 12px;
	margin-left: 15px !important; }

.widget-right {
	/* margin-top: 27px; */
	margin: auto;
	margin-left: 158px !important; }

.widget-png-right {
	position: absolute;
	width: 30%;
	right: 22px;
	top: 13px; }

.widget-png-left {
	position: absolute;
	width: 43%;
	left: 13px;
	margin-top: -34px; }

.widget-hovercard-links {
	text-align: center;
	display: flex !important;
	margin-top: 17px !important; }

.widget-compensation {
	margin: auto;
	text-decoration: none !important;
	color: black;
	border: 2px solid #d9d7d7;
	background: white;
	border-radius: 5px;
	text-align: center;
	width: 42%;
	padding: 6px; }
	.widget-compensation:hover {
		opacity: 1;
	}

.widget-branch-png {
	width: 33%;
	position: absolute;
	right: 32px;
	bottom: -13px;
	transform: rotate(-51deg);
	z-index: -1; }