/*
* Widget
*/
.large-widget-right-green {
    background: linear-gradient(180deg, #1DB0EF 0%, #15688B 100%);
}

.large-widget {
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

#large-widget-airplane {
    margin-top:55px;
    margin-left:173px;
}

#info-button-widget {
    margin-top:100px;
    margin-left:68px;
}

#co2ok-logo {
    margin-top:100px;
    margin-left: 10px;
    width: 20%;
}

#large-widget-text {
    font:11px Poppins, Verdana, sans-serif;
    color:#606468;
    margin-top: 43px;
    margin-left:10px;
    z-index:3;
}

#large-widget-text-dz {
    position: absolute;
    font:11px Poppins, Verdana, sans-serif;
    color:#606468;
    margin-left:10px;
    margin-top: 8px;
    z-index:4;
}

.co2ok_widget_infobox_container {
    position: absolute;
    width: 350px;
    background: white;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 0.9em;
    z-index: 999999;
    display: none;
    padding: 10px;
    border: 3px solid #eee;
    border-image-slice: 1; }
    @media (max-width: 768px) {
      .co2ok_widget_infobox_container {
        margin-left: -150px;
      } }
    @media (max-width: 340px) {
      .co2ok_widget_infobox_container {
        width: 300px;
      } }
    .co2ok_widget_infobox_container.ShowWidgetInfoBox {
      display: block;
      opacity: 1; }
    .co2ok_widget_infobox_container .inner-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 10px; }
      .co2ok_widget_infobox_container .inner-wrapper .svg-img {
        display: flex;
        justify-content: center;
        /* align horizontal */
        align-items: center;
        /* align vertical */
        height: 50%;
        width: 58%;
        align-items: center;
        justify-content: center; }
      .co2ok_widget_infobox_container .inner-wrapper .svg-img-large {
        display: flex;
        justify-content: center;
        /* align horizontal */
        align-items: center;
        /* align vertical */
        height: 30%;
        width: 33%;
        align-items: center;
        justify-content: center; }
      .co2ok_widget_infobox_container .inner-wrapper .selectable-text {
        text-decoration: none;
        font-weight: 100;
        color: black;
        /* unvisited, visited, mouse over and selected link */ }
        .co2ok_widget_infobox_container .inner-wrapper .selectable-text a:link, .co2ok_widget_infobox_container .inner-wrapper .selectable-text a:visited, .co2ok_widget_infobox_container .inner-wrapper .selectable-text a:hover, .co2ok_widget_infobox_container .inner-wrapper .selectable-text a:active {
          color: black; }
      .co2ok_widget_infobox_container .inner-wrapper .selectable-text-two {
        text-decoration: none;
        font-weight: 100;
        color: black;
        width: 60%;
      }
      .co2ok_widget_infobox_container .inner-wrapper .selectable-text-two .text-block {
        text-align: center;
      }
      .co2ok_widget_infobox_container .inner-wrapper .text-block {
        margin: 0px;
        font-size: 1em;
        line-height: normal;
        box-sizing: border-box;
        text-align: left;
        padding: 5px;
        border-radius: 5px;
        border: 2px solid #0fa5e5;
        text-decoration: none; }
        .co2ok_widget_infobox_container .inner-wrapper .text-block.greyBorder {
          border-color: #b8b8b8; }
    .co2ok_widget_infobox_container a {
      text-decoration: underline; }
    .co2ok_widget_infobox_container img, .co2ok_widget_infobox_container span {
      display: inline-block;
      vertical-align: middle;
      color: #979797;
      padding: 0px; }
    .co2ok_widget_infobox_container .minimal {
      background-color: black; }