  .large-widget {
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background: white;
      display: block;
      letter-spacing: 0px;
      margin: 0 auto;
      padding: 2px;
      position: relative;
      width: 150px;
    height:75px;
    margin-bottom: 16px;
  }
  
  .large-widget-right-green {
  position: absolute;
  border-radius: 7px;
  left:40.84%;
  right: 0;
  top: 0;
  bottom: 0;
  
  background: linear-gradient(180deg, #1DEFAC 0%, #08BE51 100%);
  }
  
  #half-circle {
  position:absolute;
  z-index:2;
  margin-top:-4px;
  }
  
  #large-widget-text {
    position:absolute;
    font:8px Poppins, Verdana, sans-serif;
    font-weight:400;
    color:#606468;
    margin-top: 6px;
    margin-left:3px;
    z-index:3;
    line-height: 1.8;
  }
  
  #large-widget-text-large {
    font:10.5px Poppins, Verdana, sans-serif;
    color:#606468;
    font-weight: bold;
  }

  #large-widget-xvliegen {
    position:relative;
    float:right;
    font:9px Poppins, Verdana, sans-serif;
    color:white;
    font-weight: bold;
    margin-top:6px;
    margin-right:4px;
    text-align:center;
    font-weight:500;
  }
  
  #co2ok-logo {
    position: absolute;
    z-index:4;
    width:25%;
    margin-top:52px;
    margin-left: 4px;
  }
  
  #info-button-widget {
    position:absolute;
    margin-top:52px;
    margin-left:49px;
    z-index:5;
    width:8%;
  }
  
  #large-widget-airplane {
    position:absolute;
    margin-top:38px;
    margin-left:103px;
    z-index:6;
    width:18%;
  }