.co2ok_widget_container .co2ok_widget_payoff #p .co2ok_widget_info_hitarea {
    height: 72px;
    width: 72px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    margin-left: -17px;
    position: relative; }
    .co2ok_widget_container .co2ok_widget_payoff #p .co2ok_widget_info_hitarea img {
    width: 18px;
    margin-top: 25px;
    display: inline-block; }
    .co2ok_widget_infobox_container {
    position: absolute;
    width: 350px;
    background: white;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 0.9em;
    z-index: 999999;
    display: none;
    padding: 10px;
    border: 3px solid #eee;
    border-image-slice: 1; }
    @media (max-width: 768px) {
    .co2ok_widget_infobox_container {
    margin-left: -150px;
    width: 300px; } }
    .co2ok_widget_infobox_container.ShowWidgetInfoBox {
    display: block;
    opacity: 1; }
    .co2ok_widget_infobox_container .inner-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px; }
    .co2ok_widget_infobox_container .inner-wrapper .widget-svg-img {
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    height: 50%;
    width: 58%;
    align-items: center;
    justify-content: center; }
    .co2ok_widget_infobox_container .inner-wrapper .widget-svg-img-large {
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    height: 60%;
    width: 200%;
    align-items: center;
    justify-content: center; }
    .co2ok_widget_infobox_container .inner-wrapper .selectable-text {
    text-decoration: none;
    font-weight: 100;
    color: black;
    /* unvisited, visited, mouse over and selected link */ }
    .co2ok_widget_infobox_container .inner-wrapper .selectable-text a:link, .co2ok_widget_infobox_container .inner-wrapper .selectable-text a:visited, .co2ok_widget_infobox_container .inner-wrapper .selectable-text a:hover, .co2ok_widget_infobox_container .inner-wrapper .selectable-text a:active {
        color: black; }
    .co2ok_widget_infobox_container .inner-wrapper .text-block {
    margin: 0px;
    font-size: 1em;
    line-height: normal;
    box-sizing: border-box;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #28db83;
    text-decoration: none; }
    .co2ok_widget_infobox_container .inner-wrapper .text-block.greyBorder {
        border-color: #b8b8b8; }
    .co2ok_widget_infobox_container a {
    text-decoration: underline; }
    .co2ok_widget_infobox_container img, .co2ok_widget_infobox_container span {
    display: inline-block;
    vertical-align: middle;
    color: #979797;
    padding: 0px; }
    .co2ok_widget_infobox_container .minimal {
    background-color: black; }
    
         .btn_co2ok_widget .co2ok_widget_info{
            /* 	background-image: linear-gradient(to right, #006175 0%, #00a950 100%); */
                border-radius: 7px;
                border: 2px solid rgb(11, 179, 89);
                box-sizing: border-box;
                background: white;
                display: block;
                font: 19px 'Tahoma', Arial, sans-serif; 
                color: rgb(93,97,93);
                height: 35px;
                letter-spacing: 0px;
                margin: 0 auto;
                padding: 2px;
                position: relative;
                text-decoration: none;
                width: 112px;
                z-index: 2;
            }
            
            .btn_co2ok_widget:hover .co2ok_widget_info{
                color: #fff;
                background: rgb(11, 179, 89)
            -webkit-linear-gradient(#1DEFAC -50.09%, #11D071 51.05%, #10CC6B 56.81%, #05B139 100%);
            }
            
            .btn_co2ok_widget span .co2ok_widget_info{
                align-items: center;
                background: transparent;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                height: 100%;
                transition: background .5s ease;
                width: 100%;
            }
            
            .btn_co2ok_widget:hover span .co2ok_widget_info{
                background: transparent;
            }
            
            .logo_co2ok_widget{
              width:50%;
              float:right;
              margin-left:2px;
              margin-top:3px;
              }
            
            .caption_co2ok_widget .co2ok_widget_info{
                font:13px 'Tahoma', Arial, sans-serif; 
                color: rgb(93,97,93);
                letter-spacing: 0px;
                margin-top:4px;
            }
            