/*
* Widget
*/
.large-widget-right-green {
    background: linear-gradient(180deg, #1DB0EF 0%, #15688B 100%);
}

#large-widget-airplane {
    margin-top:55px;
    margin-left:173px;
}

#info-button-widget {
    margin-top:100px;
    margin-left:68px;
}

#co2ok-logo {
    margin-top:100px;
    margin-left: 10px;
    width: 20%;
}

#large-widget-text {
    font:11px Poppins, Verdana, sans-serif;
    color:#606468;
    margin-top: 43px;
    margin-left:10px;
    z-index:3;
}

#large-widget-text-dz {
    position: absolute;
    font:11px Poppins, Verdana, sans-serif;
    color:#606468;
    margin-left:10px;
    margin-top: 8px;
    z-index:4;
}