/* Vela */
.co2ok-usp-product {
  width: 70px;
  margin-top: 8px;
}

.default-co2ok-hovercard-button {
    margin-top: -15px!important;
}

.default-logo-hovercard {
    margin-top: -30px!important;
}

.btn_shop_co2ok {
    margin-right: 40px;
}