html {
  font-size: initial !important;
}

.co2ok_widget_container .co2ok_widget_payoff #p .co2ok_widget_info_hitarea {
    height: 72px;
    width: 72px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    margin-left: -17px;
    position: relative; }
    
    .co2ok_widget_container .co2ok_widget_payoff #p .co2ok_widget_info_hitarea img {
    width: 18px;
    margin-top: 25px;
    display: inline-block; }

 /*hovercard*/
.co2ok_widget_infobox_container {
  position: absolute;
  width: 340px;
  height: 390px;
  background: white;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif !important;
  font-size: 0.9em  !important;
  z-index: 999999999;
  display: none;
  padding: 10px;
  border: 4px solid #E3E3E3  !important;
  cursor: default;
  box-shadow: 5px 5px 10px #a0a0a0  !important;
  /* border: 4px solid #28db83; */
  border-image-slice: 1;
  line-height: 1.25rem  !important; }
  .co2ok_widget_infobox_container.ShowWidgetInfoBox {
    display: block;
    opacity: 1; }

.hovercard-wrapper {
  display: flex;
  flex-direction: row;
  height: 92px; }

.widget-steps {
  color: black !important;
  font-family: Roboto, sans-serif !important;
  font-size: 13px !important;
  letter-spacing: initial !important;
  line-height: 1.25rem  !important;
  text-decoration: none !important; }

.widget-info-hover-png {
  margin: auto;
  z-index: 1; }

.widget-left {
  width: 59%;
  margin: auto;
  margin-left: 5px !important; }

.widget-right {
  margin: auto;
  margin-left: 109px !important; }

.widget-png-right {
  position: absolute;
  width: 38%;
  right: 6px; }

.widget-png-left {
  position: absolute;
  width: 28%;
  left: 13px; }

.widget-hovercard-links {
  text-align: center !important;
  font-family: Roboto, sans-serif !important;
  font-size: 14px !important;
  font-style: italic;
  line-height: 1.25rem  !important;
  display: flex !important;
  margin-top: 12px !important; }

.widget-compensation {
  margin: auto !important;
  text-decoration: none !important;
  color: black !important;
  border: 2px solid #d9d7d7;
  font-family: Roboto, sans-serif !important;
  font-size: 13px !important;
  line-height: 1.25rem  !important;
  background: white;
  border-radius: 5px;
  text-align: center !important;
  width: 42%;
  padding: 3px !important; }
  .widget-compensation:hover {
    opacity: 1; }

.widget-branch-png {
  width: 33%;
  position: absolute;
  right: 32px;
  bottom: -11px;
  transform: rotate(-51deg);
  z-index: -1; }

  p:last-child {
    margin-bottom: auto; }

/*trustmark*/
.co2ok_widget_infobox_container .minimal {
background-color: black; }

   .btn_co2ok_widget .co2ok_widget_info {
      /* 	background-image: linear-gradient(to right, #006175 0%, #00a950 100%); */
      border-radius: 7px;
      border: 2px solid rgb(11, 179, 89);
      box-sizing: border-box;
      background: white;
      display: block;
      font: 19px 'Verdana', Arial, sans-serif;
      color: rgb(93,97,93);
      height: 35px;
      letter-spacing: 0px;
      margin: 0 auto;
      padding: 2px;
      position: relative;
      text-decoration: none;
      width: 120px;
      z-index: 2;
        }
        
    .btn_co2ok_widget:hover .co2ok_widget_info {
      color: #fff;
      background: rgb(11, 179, 89)
      -webkit-linear-gradient(#1DEFAC -50.09%, #11D071 51.05%, #10CC6B 56.81%, #05B139 100%);
        }
        
    .btn_co2ok_widget span .co2ok_widget_info{
      align-items: center;
      background: transparent;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      height: 100%;
      transition: background .5s ease;
      width: 100%;
        }
        
    .btn_co2ok_widget:hover span .co2ok_widget_info { 
      background: transparent;
        }
        
    .logo_co2ok_widget { 
      width:50%;
      float:right;
      margin-left:2px;
      margin-top:3px;
          }
        
    .co2ok_logo_default_info {

      display: inline-block;
      width: 25%;
      vertical-align: middle;
      margin: 9px 0px 0px 0px;
    }

    .caption_co2ok_widget {
      font:13px 'Segoe UI',Tahoma, Arial, sans-serif; 
      color: rgb(59, 56, 56);
      letter-spacing: 0px;
      margin-top:4px;
      text-align: center;
        }
