/* Vela */
.co2ok-usp-product {
  width: 70px;
  margin-top: -12px;
  margin-left: 6px;
  position: absolute;
}

/* cfs */
.cfs_hover_target_footer {
	width: 130px;
	height: 65px;
	margin-left: 20px;
	margin-top: -30px;
}


/* hovercard  */
.default-co2ok-hovercard-button {
	margin-top: -5px!important;
}

.default-logo-hovercard {
	margin-top: -10px!important;
}

.btn_shop_co2ok {
	margin-right: 40px;
}