.co2ok_widget_infobox_container .co2ok-widget-content .right-align-img {
  margin-top: 16px;
}

.co2ok_widget_infobox_container .co2ok-widget-content .left-align-img {
  margin-top: -78px;
}

.co2ok_widget_infobox_container .co2ok-widget-content .co2ok-widget-wrapper .co2ok-tree {
  margin-top: 42px;
}

.co2ok_widget_infobox_container .card-main-header .header-img {
  margin-top: -18px !important;
}

.co2ok_widget_infobox_container .card-main-header .header {
  color: #76862d;
  margin-top: 16px;
  margin-bottom: 24px;
}